@model IEnumerable<Logic.BookingSystem>
@{
    ViewBag.Title = "Start";
}
<!DOCTYPE html>
<meta charset="utf-8" />
<link href="/Content/Site.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>BokningsProjekt</h1>
    <p class="lead">Det här är ett projekt som görs av Tim och Sebastian i samarbete med:</p>
    <p><a href="https://boka.se" class="btn btn-primary btn-lg">boka.se &raquo;</a></p>
</div>
<br />
<div id="kolumn1">
    <div style="height: 350px; overflow: auto;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SystemName)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img height="48" width="48" src="@Url.Action("Image", new { id = item.Id })" onError="this.onerror=null;this.src='http://www.tabyglantan.se/files/user/grafik/profil.png'" />
                        @Html.ActionLink(item.SystemName, "Details", "BookingSystems", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 59.609901, lng: 16.544809 },
            zoom: 8
        });

        var infowindow = new google.maps.InfoWindow();

        @foreach(var item in Model){
     <text>
        var contentString = '<div>@Html.ActionLink(item.SystemName, "Details", "BookingSystems", new { id = item.Id }, null)</div><div>@item.Address</div>';
        
        var marker = new google.maps.Marker({
          map: map,
            position: { lat: @item.Latitude, lng: @item.Longitude },
          });

        google.maps.event.addListener(marker, 'click', (function (marker, contentString, infowindow) {
            return function () {
                infowindow.setContent(contentString);
                infowindow.open(map, marker);
            };
        })(marker, contentString, infowindow));
     </text>
    }

    }
</script>
<body onload="initialize()">
    <div id="map" style="width: 600px; height: 480px;"></div>
</body>

