@model IEnumerable<Logic.BookingSystem>
@{
    ViewBag.Title = "Start";
}
<!DOCTYPE html>
<meta charset="utf-8" />
<link href="/Content/Site.css" rel="stylesheet" />

<div class="jumbotron">
    <h1>Bokningsprojekt</h1>
    <p class="lead">Det här är ett projekt som görs av Tim och Sebastian i samarbete med:</p>
    <p><a href="https://boka.se" class="btn btn-primary btn-lg">boka.se &raquo;</a></p>
</div>
<p>Sortera på kategori:</p>
@Html.DropDownList("changeCategory", new SelectList(Enum.GetValues(typeof(Category))), "Visa alla", new { @id = "changeCategory", @onchange = "CategoryChange()", @class = "form-control" })
<div id="kolumn1">
    <div style="height: 480px; overflow: auto;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SystemName)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img height="48" width="48" src="@Url.Action("Image", "BookingSystems", new { id = item.Id })" onError="this.onerror=null;this.src='http://www.tabyglantan.se/files/user/grafik/profil.png'" />
                        @Html.ActionLink(item.SystemName, "DetailsBookingSystem", "BookingSystems", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div id="map" style="width: 600px; height: 480px;"></div>

<script>
    function CategoryChange() {
        var category = $("#changeCategory option:selected").val();
        if (window.location.href.indexOf("Home") > 0) {
            location.href = "Index?Category=" + category;
        } else {
            location.href = "Home/Index?Category=" + category;
        }
    }
</script>

<script>
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 59.609901, lng: 16.544809 },
            zoom: 8
        });

        var infowindow = new google.maps.InfoWindow();
        var infoWindowGeo = new google.maps.InfoWindow;

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindowGeo.setPosition(pos);
                infoWindowGeo.setContent('Här är du!');
                infoWindowGeo.open(map);
                map.setCenter(pos);
                map.setZoom(13);
            }, function () {
                handleLocationError(true, infoWindowGeo, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindowGeo, map.getCenter());
        }
        function handleLocationError(browserHasGeolocation, infoWindowGeo, pos) {
            infoWindowGeo.setPosition(pos);
            infoWindowGeo.setContent(browserHasGeolocation ?
                'Fel: Geolocation misslyckades.' :
                'Fel: Din webbläsare stödjer inte geolocation.');
            infoWindowGeo.open(map);
        }
        @foreach(var item in Model) {
     <text>
        var contentString = '<div>@Html.ActionLink(item.SystemName, "DetailsBookingSystem", "BookingSystems", new { id = item.Id }, null)</div><div>@item.Address</div>';

        var marker = new google.maps.Marker({
            map: map,
            position: { lat: @item.Latitude, lng: @item.Longitude },
        });

        google.maps.event.addListener(marker, 'click', (function (marker, contentString, infowindow) {
            return function () {
                infowindow.setContent(contentString);
                infowindow.open(map, marker);
            };
        })(marker, contentString, infowindow));
     </text>
    }
    }

</script>



