@model IEnumerable<Logic.Bookings>

<h2>Alla bokningar</h2>

@using (Html.BeginForm("SearchBooking", "Booking"))
{
    <p>
        @Html.TextBox("SearchString") <input type="submit" class="btn btn-primary" value="Sök efter verksamhet eller namn" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Verksamhet", "SortBySystemName")
        </th>
        <th>
            @Html.ActionLink("Namn", "SortByName")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endtime)
        </th>

    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingSystem.SystemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endtime)
        </td>
        <td>
            <button type="button" onclick="location.href= '@Url.Action("EditBooking", "Booking", new { id = item.Id })'" class="btn btn-primary btn-sm"> Ändra bokning </button> |
            <button type="button" onclick="location.href= '@Url.Action("DeleteBooking", "Booking", new { id = item.Id })'" class="btn btn-primary btn-sm"> Ta bort bokning </button>
        </td>
    </tr>
    }
</table>

