@model Logic.Bookings

@{
    ViewBag.Title = "Ta bort bokning";
}

<h2>Ta bort bokning</h2>

<h3>Är du säker på att du vill ta bort bokning?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Ta bort bokning" class="btn btn-default" /> |
        @Html.ActionLink("Tillbaka till alla bokningar", "BookingList")
    </div>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingSystem.SystemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingSystem.SystemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endtime)
        </dd>

    </dl>
</div>
