@model Logic.BookingSystem

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<meta charset="utf-8" />
<link href="/Content/Site.css" rel="stylesheet" />

<h2>@Html.DisplayFor(model => model.SystemName)</h2>
<hr />
<button onclick="location.href= '@Url.Action("CreateBooking", "Booking", new { id = Model.Id })'" class="btn btn-info"> Boka </button>
<p>
    @Html.ActionLink("Tillbaka till alla verksamheter", "BookingSystemList")
</p>
<div id="kolumn1">
    <div class="container">
        <div>
            <img height="200" width="200" src="@Url.Action("Image", new { id = Model.Id })" onError="this.onerror=null;this.src='http://www.tabyglantan.se/files/user/grafik/profil.png'" />
        </div>
        <hr />
        <div class="panel panel-info">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.SystemName): @Html.DisplayFor(model => model.SystemName) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.SystemDescription): @Html.DisplayFor(m => m.SystemDescription) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(m => m.Email) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(m => m.PhoneNumber)</div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Website): @Html.DisplayFor(m => m.Website) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(m => m.Address) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(m => m.City) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(m => m.Category) </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div id="map" style="width: 620px; height: 380px;"></div>
    <hr />
</div>

<div id="kolumn2">
    <div class="container">
        <div class="row">
            <h3>Rekommenderade:</h3>
            @Html.Partial("../BookingSystems/RecommendedBookingSystem", new TestSup.Controllers.RecommendedBookingSystem(Model.Category, Model.Id, Model.Latitude, Model.Longitude))
            <br />
        </div>
    </div>
</div>

<script>
    function initMap() {
        var place = { lat: @Model.Latitude, lng: @Model.Longitude };
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15, center: place });
        var marker = new google.maps.Marker({
            position: place, map: map });
        var contentString = "@Model.SystemName";
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        
            infowindow.open(map, marker);
        
    }
</script>




