@model Logic.BookingSystem

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<meta charset="utf-8" />
<link href="/Content/Site.css" rel="stylesheet" />

<h2>@Html.DisplayFor(model => model.SystemName)</h2>
<hr />
<div id="kolumn1">
    <div class="container">
        <div>
            <button onclick="location.href= '@Url.Action("Create", "Booking", new { id = Model.Id })'" class="btn btn-info"> Boka </button>
        </div>
        <hr />
        <div class="panel panel-info">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.SystemName): @Html.DisplayFor(model => model.SystemName) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.SystemDescription): @Html.DisplayFor(m => m.SystemDescription) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(m => m.Email) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(m => m.PhoneNumber)</div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Website): @Html.DisplayFor(m => m.Website) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(m => m.Address) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Latitude): @Html.DisplayFor(m => m.Latitude) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Longitude): @Html.DisplayFor(m => m.Longitude) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(m => m.City) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(m => m.Category) </div>
        </div>
        <p>
            @Html.ActionLink("Tillbaka till verksamheter", "Index")
        </p>
    </div>
</div>

<div id="kolumn2">
    <div class="container">
        <div class="row">
            <img height="200" width="200" src="@Url.Action("Image", new { id = Model.Id })" onError="this.onerror=null;this.src='http://www.tabyglantan.se/files/user/grafik/profil.png'" />
            <br />
        </div>
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">Rekommenderade:</div>
            <div class="panel-body">
                @Html.Partial("../BookingSystems/RecBookingSys", new TestSup.Controllers.RecBookingSys(Model.Category, Model.City, Model.Id))
            </div>
        </div>
    </div>
</div>

<script>
    var geocoder;
    var map;
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
            zoom: 12,
            center: latlng
        }

        var contentString = '<div>@Html.DisplayFor(m => m.Address)</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var address = '@Model.Address' + ' ' + '@Model.City';
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

                    infowindow.open(map, marker);
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
<body onload="initialize()">
    <div id="map" style="width: 320px; height: 480px;"></div>
</body>


