@model Logic.BookingSystem

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<meta charset="utf-8" />
<link href="/Content/Site.css" rel="stylesheet" />

<h2>@Html.DisplayFor(model => model.SystemName)</h2>
<hr />
<button type="button" onclick="location.href= '@Url.Action("CreateBooking", "Booking", new { id = Model.Id })'" class="btn btn-primary btn-lg"> Gör en bokning här! </button>
<p>
    <br />
    <button type="button" onclick="location.href= '@Url.Action("BookingSystemList", "BookingSystems")'" class="btn btn-primary btn-sm"> Tillbaka till alla bokningssystem </button>
</p>
<div id="kolumn1">
    <div class="container">
        <div>
            <img height="200" width="200" src="@Url.Action("Image", new { id = Model.Id })" onError="this.onerror=null;this.src='http://www.tabyglantan.se/files/user/grafik/profil.png'" />
        </div>
        <hr />
        <div class="panel panel-info">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.SystemName): @Html.DisplayFor(model => model.SystemName) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.SystemDescription): @Html.DisplayFor(m => m.SystemDescription) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(m => m.Email) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(m => m.PhoneNumber)</div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Website): @Html.DisplayFor(m => m.Website) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(m => m.Address) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(m => m.City) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.CreateBookingSystemCategory): @Html.DisplayFor(m => m.CreateBookingSystemCategory) </div>
        </div>
    </div>
</div>

<div id="kolumn2">
    <div class="container">
        <div class="row">
            <div id="map" style="width: 620px; height: 380px;"></div>
        </div>
    </div>
</div>

<script>
    //Visar en karta med en marker där bokningsystemet ligger.
    function initMap() {
        var place = { lat: @Model.Latitude, lng: @Model.Longitude };
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15, center: place });
        var marker = new google.maps.Marker({
            position: place, map: map });
        var contentString = "@Model.SystemName";
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

            infowindow.open(map, marker);
    }
</script>




