@model Logic.BookingSystem

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<meta charset="utf-8" />
<link href="/Content/Site.css" rel="stylesheet" />

<h2>Info om verksamheten</h2>

<div id="kolumn1">
    <div class="container">
        <h4>Verksamhet</h4>
        <hr />
        <div class="panel panel-info">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.SystemName): @Html.DisplayFor(model => model.SystemName) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.SystemDescription): @Html.DisplayFor(m => m.SystemDescription) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(m => m.Email) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(m => m.PhoneNumber)</div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Website): @Html.DisplayFor(m => m.Website) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(m => m.Address) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.LatitudeLongitude): @Html.DisplayFor(m => m.LatitudeLongitude) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(m => m.City) </div>
            <div class="panel-heading">@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(m => m.Category) </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>

<div id="kolumn2">
    <div class="container">
        <div class="row">
            <img height="200" width="200" src="@Url.Action("Image", new { id = Model.Id })" onError="this.onerror=null;this.src='http://www.tabyglantan.se/files/user/grafik/profil.png'" />
            <br />
            @using (Html.BeginForm("Picture", "BookingSystems", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" class="btn btn-info" name="upload" accept=".png,.jpg,.jpeg,.gif,.bmp" />
                    <br />
                    <input type="submit" class="btn btn-info" value="Byt bild" />
                }
        </div>
        <br />
        <button onclick="location.href= '@Url.Action("Create", "Booking", new { id = Model.Id })'" class="btn btn-info"> Boka </button>
    </div>
</div>

