@model TestSup.Controllers.RecBookingSys

@{
    ViewBag.Title = "RecBookingSys";
}
<script>
    function initMap2() {
        var place = { lat: @Model.Lat, lng: @Model.Long };
        var map2 = new google.maps.Map(
            document.getElementById('map2'), { zoom: 12, center: place });

        var infowindow = new google.maps.InfoWindow();

                @foreach(var item in Model.BookSys){
     <text>
        var contentString = '<div>@Html.ActionLink(item.SystemName, "Details", "BookingSystems", new { id = item.Id }, null)</div><div>@item.Address</div>';
        
        var marker = new google.maps.Marker({
          map: map2,
            position: { lat: @item.Latitude, lng: @item.Longitude },
        });
        google.maps.event.addListener(marker, 'click', (function (marker, contentString, infowindow) {
            return function () {
                infowindow.setContent(contentString);
                infowindow.open(map2, marker);
            };
        })(marker, contentString, infowindow));
     </text>
    }
    }
</script>

<body onload="initMap2()">
    <div id="map2" style="width: 420px; height: 280px;"></div>
</body>

