@model TestSup.Controllers.RecommendedBookingSystem

@{
    ViewBag.Title = "RecBookingSys";
}
<h5>Välj avstånd för rekommenderade verksamheter:</h5>
<select id="kmList" onchange="initMap2()">
    <option value="1000">1km</option>
    <option value="2000">2km</option>
    <option value="3000">3km</option>
    <option value="4000">4km</option>
    <option value="5000" selected="selected">5km</option>
</select>

<script>
    function initMap2() {
        var place = { lat: @Model.Lat, lng: @Model.Long };
        var map2 = new google.maps.Map(
            document.getElementById('map2'), { zoom: 11, center: place });

        var infowindow = new google.maps.InfoWindow();

        var listValue = document.getElementById("kmList");
        var kmComboBox = listValue.options[listValue.selectedIndex].value*1;

        var radius = new google.maps.Circle({
            center: place,
            radius: kmComboBox,
            strokeColor: "#0000FF",
            strokeOpacity: 0.8,
            strokeWeight: 1,
            fillColor: "#CACACA",
            fillOpacity: 0.3,
            map: map2
        });

        var activeBookingSystem = new google.maps.LatLng(@Model.Lat, @Model.Long);
     @foreach(var item in Model.BookingSystem)
     {
     <text>
        var contentString = '<div>@Html.ActionLink(item.SystemName, "DetailsBookingSystem", "BookingSystems", new { id = item.Id }, null)</div><div>@item.Address</div>';

        var recommendedBookingSystems = new google.maps.LatLng(@item.Latitude, @item.Longitude);
        var distance = google.maps.geometry.spherical.computeDistanceBetween(activeBookingSystem, recommendedBookingSystems);

        if (distance < kmComboBox) {
            var marker = new google.maps.Marker({
                map: map2,
                position: { lat: @item.Latitude, lng: @item.Longitude },
            });

            google.maps.event.addListener(marker, 'click', (function (marker, contentString, infowindow) {
                return function () {
                    infowindow.setContent(contentString);
                    infowindow.open(map2, marker);
                };
            })(marker, contentString, infowindow));
        }
     </text>
    }
    }
</script>

<body onload="initMap2()">
    <div id="map2" style="width: 420px; height: 280px;"></div>
</body>
